html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 1em;
    border-radius: 25px;
    background: darkgray;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-top: 5cm;
    margin-bottom: 5cm;
    width: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:  #1a1a1a;
    outline: 1px solid slategrey;
    border-radius: 25px;
    width: 10px;
}
h1{
    text-align: center;
    color:darkred;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}
h1:hover{
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 40%;
    color:purple;
    cursor: grab;
}
a:link{
    color: black ;
    background-color: gray;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:hover{
    text-decoration: underline overline;
}
.body{
    text-align: center;
    color: red;
    font-size: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5em;
}
#mid{
    list-style-type: square;
}
nav{
    display: inline-block;
    overflow-y:hidden;
    position:fixed;
}
#top{
    margin-left: 0%;
    list-style-type: none;
    display: inline-block;
}

#index {
    background-image:  url("https://i.pinimg.com/originals/a8/e8/6e/a8e86e3b519f292aed11863816205ae9.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 800, bold;
    background-attachment: fixed;
}
button{
    height: 1cm;
    width:2cm;
    background-color: greenyellow;
}
button:hover{
    cursor:cell;
}
#left{
    float:left;
    display: block;
    width: 8cm;
    max-height:14cm;
    height: 14cm;
    border: ridge burlywood;
    background-image:linear-gradient(to bottom right,lightcoral,white);
    border-style: dotted;
    border-radius: 10px;
    margin-right: 0px;
    overflow-y: scroll;
    text-align: justify;
    color: firebrick;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-inline-end: 5px;
}
#left::-webkit-scrollbar{
    width: 5px;
}
#left::-webkit-scrollbar-track{
    border:solid lightcoral;
    border-radius: 5px ;
    box-shadow: inset 0 0 0 6px lightgray;
    background: transparent;
    margin-top: 2cm;
    margin-bottom: 2cm;
}
#left::-webkit-scrollbar-thumb{
    border-radius: 5px;
    box-shadow: inset 0 0 0 6px darkslategray ;
    outline: 1px solid slategray;
    size-adjust: 0 0 0 1;
    height: 0px;
}
#left::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0 6px slategray ;
    outline: darkgray;
}
#space{
    height: 20cm;
}
#scrollable{
    font: caption;
}
li span {
    position: relative;
    left: -6cm;
    color:blue;
  }
li{
    text-align: center;
    margin-left: 15cm;
}
#hide{
   float: left;
   position: relative;
   margin-bottom: -5cm;
   margin-left: 3cm;
   border-radius: 50px;
   opacity: calc(70%);
}
#drag{
    display: block;
    width: 5cm;
    height:2cm;
    border: ridge burlywood;
    background-image:linear-gradient(to bottom right,orange,gold);
    border-style: dotted;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    position: absolute;
    user-select: none;
}
#drag:hover{
    cursor: move;
}
#JS{
    background-image: url("http://dabutcher.org/bgs/Moving%20Gif/green%20falls%202.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
#bottom{
    margin-top: 25%;
    border: 2px blue;
    border-style: hidden;
    color: darkturquoise;
}
#about{
    color: darkblue;
    font-weight: bolder;
    font-size: larger;
}
